In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./data/Rock_Paper_Scissors_Raw.xlsx')

In [3]:
df.head(10)

   game_id  game_round_id  player_one_throw  player_two_throw
0        1              1                 1                 1
1        1              1                 2                 3
2        1              2                 3                 2
3        1              3                 1                 1
4        1              3                 1                 2
5        1              4                 2                 3
6        2              5                 1                 0
7        3              6                 1                 1
8        3              6                 2                 1
9        3              7                 3                 3

In [4]:
df.shape

(455180, 4)

In [5]:
df.loc[(df==0).any(axis=1)].shape

(45738, 4)

In [6]:
df_mod = df.loc[(df!=0).all(axis=1)]

In [7]:
df_mod.shape

(409442, 4)

In [8]:
df_mod.head()

   game_id  game_round_id  player_one_throw  player_two_throw
0        1              1                 1                 1
1        1              1                 2                 3
2        1              2                 3                 2
3        1              3                 1                 1
4        1              3                 1                 2

In [9]:
# people's tendencies for first throws
df_first = df_mod.loc[df.groupby('game_id')['game_round_id'].idxmin()]

/Users/audreymychan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [10]:
df_first = df_first.dropna()
df_first.head()

    game_id  game_round_id  player_one_throw  player_two_throw
0       1.0            1.0               1.0               1.0
7       3.0            6.0               1.0               1.0
10      4.0            8.0               1.0               3.0
19      5.0           11.0               1.0               1.0
26      6.0           16.0               1.0               3.0

In [16]:
df_first_p1 = pd.DataFrame(df_first['player_one_throw'].value_counts())
df_first_p1

     player_one_throw
1.0             28365
2.0             25343
3.0             19602

In [17]:
df_first_p2 = pd.DataFrame(df_first['player_two_throw'].value_counts())
df_first_p2

     player_two_throw
2.0             26518
1.0             24198
3.0             22594

In [19]:
df_first_counts = df_first_p1.join(df_first_p2)
df_first_counts

     player_one_throw  player_two_throw
1.0             28365             24198
2.0             25343             26518
3.0             19602             22594

In [23]:
df_first_counts['count'] = df_first_counts['player_one_throw'] + df_first_counts['player_two_throw']
df_first_counts

     player_one_throw  player_two_throw  count
1.0             28365             24198  52563
2.0             25343             26518  51861
3.0             19602             22594  42196

In [25]:
df_first_counts['percentage'] = df_first_counts['count'] / df_first_counts['count'].sum()
df_first_counts

     player_one_throw  player_two_throw  count  percentage
1.0             28365             24198  52563    0.358498
2.0             25343             26518  51861    0.353710
3.0             19602             22594  42196    0.287792

In [26]:
import numpy as np
import random as rm

In [ ]:
# The statespace
states = ["R","P","S"]

# Possible sequences of events
transitionName = [["RR","RP","RS"],["PR","PP","PS"],["SR","SP","SS"]]

# Probabilities matrix (transition matrix)
transitionMatrix = [[0.2,0.6,0.2],[0.1,0.6,0.3],[0.2,0.7,0.1]]